body {
    margin-left: 440px; 
    margin-right: 440px; 
    padding: 0;
}

h1 {
    background-color: rgb(188, 237, 175);
    text-align: center; 
    margin: 0;
}

h2 {
    background-color: rgb(223, 246, 172);
    text-align: center;

}

img {
    width: 50%; 
    height: auto; 
}
